<div class="container">
  <div class="row centered">
    <div class="col-md-4 wow fadeInUp" data-wow-duration="1s" data-wow-offset="160">
      <i class="fa fa-heart-o"></i>
      <h4><strong>Simple, Fast, Beautiful</strong></h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="160">
      <i class="fa fa-flask"></i>
      <h4><strong>Structured, Organized</strong></h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="1s" data-wow-offset="160">
      <i class="fa fa-trophy"></i>
      <h4><strong>Highly Opinionated</strong></h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>            
  </div>
</div>