<div class="container">
  <div class="page-header">
  <div class="row centered">
    <div class="col-sm-12">
      <h3>MEET THE TEAM</h3>
    </div>
  </div>
    <div class="row">
      <div class="col-sm-6">
        <figure class="effect-winston wow fadeInLeft"data-wow-duration="1s" data-wow-offset="160">
            <img src="img/team/team01.jpg"/>
            <figcaption>
              <p>
                <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
                <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
              </p>
            </figcaption>     
          </figure>
      </div>
      <div class="col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-offset="160">
        <h2>JOHN<strong>DOE</strong></h2>
        <p>Donec in varius sem. Integer sit amet dui ut justo egestas hendrerit. Donec blandit id neque quis consectetur. Donec auctor neque nec neque pretium mollis. Nulla facilisi. Aliquam fermentum ac mauris ac pretium. Sed gravida, nisi dapibus volutpat faucibus, tortor est consectetur orci, at congue arcu massa sed nibh. In feugiat a nisl eget mollis. Integer nec dui augue. Sed mollis sem ac dolor volutpat, sed dapibus ex condimentum.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 wow fadeInLeft" data-wow-duration="1s" data-wow-offset="160">
        <h2 class="align-right">JACK<strong>DOE</strong></h2>
        <p class="align-right">Donec in varius sem. Integer sit amet dui ut justo egestas hendrerit. Donec blandit id neque quis consectetur. Donec auctor neque nec neque pretium mollis. Nulla facilisi. Aliquam fermentum ac mauris ac pretium. Sed gravida, nisi dapibus volutpat faucibus, tortor est consectetur orci, at congue arcu massa sed nibh. In feugiat a nisl eget mollis. Integer nec dui augue. Sed mollis sem ac dolor volutpat, sed dapibus ex condimentum.</p>
      </div>
      <div class="col-sm-6">
        <figure class="inverse effect-winston wow fadeInRight"data-wow-duration="1s" data-wow-offset="160">
            <img src="img/team/team02.jpg"/>
            <figcaption>
              <p>
                <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
                <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
              </p>
            </figcaption>     
          </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <figure class="effect-winston wow fadeInLeft"data-wow-duration="1s" data-wow-offset="160">
            <img src="img/team/team03.jpg"/>
            <figcaption>
              <p>
                <a href="#"><i class="fa fa-fw fa-facebook"></i></a>
                <a href="#"><i class="fa fa-fw fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
              </p>
            </figcaption>     
          </figure>
      </div>
      <div class="col-sm-6 wow fadeInRight" data-wow-duration="1s" data-wow-offset="160">
        <h2>JOHN<strong>DOE</strong></h2>
        <p>Donec in varius sem. Integer sit amet dui ut justo egestas hendrerit. Donec blandit id neque quis consectetur. Donec auctor neque nec neque pretium mollis. Nulla facilisi. Aliquam fermentum ac mauris ac pretium. Sed gravida, nisi dapibus volutpat faucibus, tortor est consectetur orci, at congue arcu massa sed nibh. In feugiat a nisl eget mollis. Integer nec dui augue. Sed mollis sem ac dolor volutpat, sed dapibus ex condimentum.</p>
      </div>
    </div>
  </div>
</div>